<footer class="site-footer" role="contentinfo">
  <div class="mdc-layout-grid">
    <div class="mdc-layout-grid__inner">
      <div class="mdc-layout-grid__cell--span-6-desktop
                  mdc-layout-grid__cell--span-4-tablet
                  mdc-layout-grid__cell--span-4-phone">
        <div class="mdc-list-group">
          <h2 class="mdc-list-group__subheader">Navigation</h2>
          <nav class="mdc-list" role="listbox" data-mdc-auto-init="MDCList">

            {%- for data in site.data.navigation -%}

            <a class="mdc-list-item" href="{{ data.url | absolute_url }}" role="option" {%- if forloop.first -%} tabindex="0" {%- endif -%}>
              <i class="material-icons mdc-list-item__graphic" aria-hidden="true">{{ data.icon }}</i>
              <span class="mdc-list-item__text">{{ data.title }}</span>
            </a>

            {%- endfor -%}

          </nav>
        </div>
      </div>
      <div class="mdc-layout-grid__cell--span-6-desktop
                  mdc-layout-grid__cell--span-4-tablet
                  mdc-layout-grid__cell--span-4-phone">
        <div class="mdc-list-group">
          <h2 class="mdc-list-group__subheader">Social</h2>

          {%- include social-icons.html -%}

        </div>
      </div>
    </div>
  </div>
</footer>
