<header class="mdc-top-app-bar" data-mdc-auto-init="MDCTopAppBar">
  <div class="mdc-top-app-bar__row">
    <section class="mdc-top-app-bar__section mdc-top-app-bar__section--align-start">
      <button class="material-icons mdc-top-app-bar__navigation-icon mdc-icon-button">menu</button>
      <span class="mdc-top-app-bar__brand">
        <img class="mdc-top-app-bar__logo" src="{{ page.image }}" alt="caepa logo" />
        <h1 class="mdc-top-app-bar__title">{{ page.categories | default: "News" }}</h1>
      </span>
    </section>
    <section class="mdc-top-app-bar__section mdc-top-app-bar__section--align-end" role="toolbar">
      <a class="mdc-top-app-bar__action-item mdc-button" href="http://www.caepa.org/bylaws" aria-label="bylaws">
        <span class="mdc-button__label">Bylaws</span>
      </a>
      <a class="mdc-top-app-bar__action-item mdc-button" href="http://www.caepa.org/forms" aria-label="forms">
        <span class="mdc-button__label">Forms</span>
      </a>
      <a class="mdc-top-app-bar__action-item mdc-button" href="http://www.caepa.org/resources" aria-label="resource sharing">
        <span class="mdc-button__label">Resource Sharing</span>
      </a>
      <div id="navigation-anchor" class="mdc-menu-surface--anchor">
        <button id="navigation-button" class="material-icons mdc-top-app-bar__action-item mdc-icon-button" aria-label="open menu">apps</button>
        <div id="navigation-menu" class="mdc-menu mdc-menu-surface">
          <nav class="mdc-list" role="menu" aria-hidden="true" aria-orientation="vertical" tabindex="-1">

            {%- for data in site.data.navigation -%}

            <a class="mdc-list-item" href="{{ data.url }}" role="menuitem">
              <i class="material-icons mdc-list-item__graphic" aria-hidden="true">{{ data.icon }}</i>
              <span class="mdc-list-item__text">{{ data.title }}</span>
            </a>

            {%- endfor -%}

          </nav>
        </div>
      </div>
    </section>
  </div>
</header>
