<header class="mdc-top-app-bar mdc-elevation--z4">
  <div class="mdc-top-app-bar__row">
    <section class="mdc-top-app-bar__section mdc-top-app-bar__section--align-start">
      <a href="#" class="material-icons mdc-top-app-bar__navigation-icon">menu</a>
      <span class="mdc-top-app-bar__title">News</span>
    </section>
    <section class="mdc-top-app-bar__section mdc-top-app-bar__section--align-end" role="toolbar">
      <!--a href="javascript:window.print()" class="material-icons mdc-top-app-bar__action-item" aria-label="Print this page" alt="Print this page">print</a-->
      <a href="{{ site.url }}" class="mdc-button">Welcome</a>
      <a href="{{ "/contribute" | absolute_url }}" class="mdc-button">Contribute</a>
      <a href="{{ "/subscribe" | absolute_url }}" class="mdc-button">Subscribe</a>
      <a href="#" id="apps" class="material-icons mdc-top-app-bar__action-item">apps</a>
      <div class="mdc-menu-anchor">
        <img src="/assets/img/caepa-title.svg" alt="caepa logo"/>
        <div class="mdc-menu" tabindex="-1"  data-mdc-auto-init="MDCMenu">
          <ul class="mdc-menu__items mdc-list" role="menu" aria-hidden="true">
            <li class="mdc-list-item" role="menuitem" tabindex="0"><i class="material-icons mdc-list-item__graphic">assignment</i><a href="http://www.caepa.org/bylaws" target="_self">CAEPA Bylaws</a></li>
            <li class="mdc-list-item" role="menuitem" tabindex="0"><i class="material-icons mdc-list-item__graphic">info</i><a href="http://www.caepa.org/factsheets" target="_self">Factsheets</a></li>
            <li class="mdc-list-item" role="menuitem" tabindex="0"><i class="material-icons mdc-list-item__graphic">description</i><a href="http://www.caepa.org/forms" target="_self">Forms</a></li>
            <li class="mdc-list-item" role="menuitem" tabindex="0"><i class="material-icons mdc-list-item__graphic">chrome_reader_mode</i><a href="http://news.caepa.org" target="_self">News</a></li>
            <li class="mdc-list-item" role="menuitem" tabindex="0"><i class="material-icons mdc-list-item__graphic">event</i><a href="http://www.caepa.org/events/the-2018-mini-conference" target="_self">Professional Learning</a></li>
            <li class="mdc-list-item" role="menuitem" tabindex="0"><i class="material-icons mdc-list-item__graphic">extension</i><a href="http://www.caepa.org/resources" target="_self">Resource Sharing</a></li>
          </ul>
        </div>
      </div>
    </section>
  </div>
</header>
