<aside class="mdc-drawer mdc-drawer--permanent">
  <nav class="mdc-drawer__drawer">
    <div class="mdc-drawer__toolbar-spacer">Headlines</div>
    <div class="mdc-drawer__content mdc-list-group">
      <nav class="mdc-list mdc-list--two-line">
        {%- for post in site.posts -%}
        <a class="mdc-list-item mdc-ripple-surface {% if post.url == page.url %}mdc-list-item--activated{%- endif -%}" href="{{ post.url | relative_url }}" data-mdc-auto-init="MDCRipple">
          <span class="mdc-list-item__text">
            {{ post.title | escape }}
            <span class="mdc-list-item__secondary-text">
            {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
            {{ post.date | date: date_format }}
            </span>
          </span>
        </a>
        <li role="separator" class="mdc-list-divider"></li>
        {%- endfor -%}
      </nav>
    </div>
  </nav>
</aside>

<aside class="mdc-drawer mdc-drawer--temporary">
  <nav class="mdc-drawer__drawer">
    <div class="mdc-drawer__toolbar-spacer">Headlines</div>
    <div class="mdc-drawer__content mdc-list-group">
      <nav class="mdc-list mdc-list--two-line">
        {%- for post in site.posts -%}
        <a class="mdc-list-item mdc-ripple-surface {% if post.url == page.url %}mdc-list-item--activated{%- endif -%}" href="{{ post.url | relative_url }}" data-mdc-auto-init="MDCRipple">
          <span class="mdc-list-item__text">
            {{ post.title | escape }}
            <span class="mdc-list-item__secondary-text">
            {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
            {{ post.date | date: date_format }}
            </span>
          </span>
        </a>
        <li role="separator" class="mdc-list-divider"></li>
        {%- endfor -%}
      </nav>
    </div>
  </nav>
</aside>
