---
layout: home
permalink: /
---
{% for page in site.posts limit:1 %}
<article class="mdc-card mdc-card--outlined">

  <header class="mdc-card__primary">
    <h3 class="post-title">{{ page.title | escape }}</h3>
    <p class="mdc-card__subtitle mdc-typography mdc-typography--subtitle10">
      <time>
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        {{ page.date | date: date_format }}
      </time>
      {%- if page.author -%}
      • <span class="p-author">{{ page.author | escape }}</span>
      {%- endif -%}</p>
  </header>

  <div class="mdc-card__secondary mdc-typography mdc-typography--body10">
    {{ page.content | truncatewords:50 }}
  </div>

  <footer class="mdc-card__actions">
    <div class="mdc-card__action-buttons">
      <a class="mdc-card__action mdc-card__action--button mdc-button" href="{{ page.url }}">
        <span class="mdc-button__label">Read Article</span>
        <i class="material-icons mdc-button__icon" aria-hidden="true">arrow_forward</i>
      </a>
    </div>
  </footer>

</article>
{% endfor %}

<div class="mdc-layout-grid__inner">

  {% for page in site.posts offset:1 limit:2 %}
  <div class="mdc-layout-grid__cell--span-6-desktop
              mdc-layout-grid__cell--span-4-tablet
              mdc-layout-grid__cell--span-4-phone">

    <article class="mdc-card mdc-card--outlined">
      <a class="mdc-card__primary-action" href="{{ page.url }}" tabindex="0">

        <header class="mdc-card__primary">
          <h3 class="mdc-card__title mdc-typography mdc-typography--headline6">{{ page.title | escape }}</h3>
          <p class="mdc-card__subtitle mdc-typography mdc-typography--subtitle1">
            <time>
              {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
              {{ page.date | date: date_format }}
            </time>
            {%- if page.author -%}
            • <span class="p-author">{{ page.author | escape }}</span>
            {%- endif -%}</p>
        </header>

        <div class="mdc-card__secondary mdc-typography mdc-typography--body1">
          {{ page.content | truncatewords:25 }}
        </div>

      </a>
    </article>

  </div>
  {% endfor %}

</div>
