---
---
:root {
  --mdc-theme-primary: #662222;
  --mdc-theme-secondary: #424242;
  --mdc-theme-tertiary: #CC9933;
}

b, strong {
  font-weight: 500;
}

html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: row;
  padding: 0;
  margin: 0;
  // box-sizing: border-box;
  height: 100%;
  width: 100%;
}

body {
  background-color: rgba(66,66,66,0.01);
  & [hero] {
    background-color: rgba(66,66,66,0.09);
  }
  &.mdc-typography {
    color: var(--mdc-theme-text-primary-on-background);
  }
}

main.page-content {
  // display: inline-flex;
  flex-direction: column;
  flex-grow: 1;
  height: 100%;
  // box-sizing: border-box;
  overflow: auto;
}

.mdc-drawer__drawer,
.mdc-drawer__content {
  height: 100%;
  overflow: auto;
}

.mdc-top-app-bar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 4;
  background-color: var(--mdc-theme-background);
  color: var(--mdc-theme-text-primary-on-background);
  & .mdc-top-app-bar__action-item, .mdc-top-app-bar__navigation-icon {
    color: var(--mdc-theme-text-primary-on-background);
  }
}

.mdc-drawer__toolbar-spacer,
.mdc-top-app-bar {
  & img {
    margin-bottom: -4px;
    padding: 12px;
    max-width: 100%;
    height: 1.25rem;
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
  }
}

.mdc-menu  a {
  text-decoration: none;
  color: var(--mdc-theme-text-primary-on-background);
}

// tablet breakpoint and less than
@media only screen and (max-width: 599px) {
  .mdc-top-app-bar img {
    display: none;
  }
  [hero] {
    height: calc(50vh - 56px);
  }
  section[paper] {
    margin-top: calc(-50vh + 2*56px);
  }
}

// tablet breakpoint and greater than
@media only screen and (min-width: 600px) {
  [hero] {
    height: calc(50vh - 64px);
  }
  section[paper] {
    margin-top: calc(-50vh + 2*64px);
  }
}

// desktop breakpoint and less than
@media only screen and (max-width: 840px) {
  .mdc-drawer--permanent {
    display: none;
  }
  .mdc-top-app-bar  .mdc-button {
    display: none;
  }
}

// desktop breakpoint and greater than
@media only screen and (min-width: 841px) {
  .mdc-top-app-bar {
    // width: calc(100% - 240px);

    &__navigation-icon {
      display: none;
    }
  }
  .mdc-menu #news-caepa-org-menu {
    display: none;
  }
}

/* Watch for breaking changes */
form {
  font-size: initial;
}
article.post {
  .post-header {
    position: relative;
    padding: 2rem 4rem;
    background-color: var(--mdc-theme-primary);
    .mdc-typography--headline4 {
      color: var(--mdc-theme-text-primary-on-dark);
    }
    .mdc-typography--subtitle1, .mdc-typography--subheading2 {
      color: var(--mdc-theme-text-secondary-on-dark);
    }
    .mdc-fab {
      position: absolute;
      right: 25px;
    }
  }
  .post-content {
    padding: 2rem 4rem 5rem;
    line-height: 1.58rem;
    a {
      color: var(--mdc-theme-primary);
      &.mdc-button.mdc-button--raised {
        color: var(--mdc-theme-text-primary-on-dark);
      }
    }
    hr {
      border: 1px solid rgba(0, 0, 0, 0.12);
      margin: 1rem 0 2rem;
      width: 50%;
    }
    dl {
      display: flex;
      flex-flow: row;
      flex-wrap: wrap;
      dt {
        flex: 0 0 33%;
        font-weight: 500;
      }
      dd {
        flex: 0 0 66%;
        margin-left: auto;
      }
    }
    form {
      line-height: initial;
      & .mdc-text-field--focused:not(.mdc-text-field--disabled) .mdc-floating-label {
        color: var(--mdc-theme-primary); // remove in future version update
      }
    }
  }
}
