<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}" prefix="og: http://ogp.me/ns#">

{%- include head.html -%}

<body class="mdc-typography">

  {{ content }}

<script src="https://unpkg.com/material-components-web@3.1.1/dist/material-components-web.min.js"></script>
<!--script src="{{ "/assets/js/main.js" | relative_url }}"></script-->
<script>
  window.mdc.autoInit();

  const drawer = new mdc.drawer.MDCDrawer(document.querySelector('.mdc-drawer--modal'));
  document.querySelector('.mdc-top-app-bar__navigation-icon').addEventListener('click', function(evt) {
    evt.preventDefault();
    drawer.open = true;
  });

  const menu = new mdc.menu.MDCMenu(document.querySelector('#navigation-menu'));
  document.querySelector('#navigation-button').addEventListener('click', function(evt) {
    evt.preventDefault();
    menu.open = !menu.open;
    menu.setAnchorCorner(mdc.menu.Corner.BOTTOM_LEFT);
  });

  //<!-- breaks out of scrollable element -->
  //var scroll = document.querySelector('.mdc-list-item--activated');
  //scroll.scrollIntoView({block:'center'});
</script>

</body>
</html>
