<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>

    {%- include header.html -%}

    <main class="mdc-top-app-bar--fixed-adjust" aria-label="Content">
      <section paper class="mdc-layout-grid">
        <div class="mdc-layout-grid__inner">
          <div class="mdc-layout-grid__cell">

              {{ content }}

          </div>
        </div>
      </section>
    </main>

    {%- include footer.html -%}

  </body>

</html>
