<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body class="mdc-typography">

    {%- include mdc-top-app-bar.html -%}

    {%- include mdc-drawer.html -%}

    <main class="mdc-top-app-bar--fixed-adjust" aria-label="Content">
      <section class="mdc-layout-grid">
        <div class="mdc-layout-grid__inner">
          <div class="mdc-layout-grid__cell--span-12">

              {{ content }}

          </div>
        </div>
      </section>
    </main>

    {%- include footer.html -%}

  </body>

</html>
