---
layout: default
---

<div class="home">

  <h2 class="page-heading">{{ page.title | default: "Recent News" }}</h2>

  {{ content }}

  {%- if site.posts.size > 3 -%}
  <h2 class="post-list-heading">{{ page.list_title | default: "Past News" }}</h2>
  <nav class="mdc-list mdc-list--two-line" role="listbox" data-mdc-auto-init="MDCList">

    {%- for post in site.posts offset:3 limit:7 -%}
    <div class="mdc-list-divider" role="seperator"></div>
    <a class="mdc-list-item" href="{{ post.url | relative_url }}" role="option" {%- if forloop.first -%} tabindex="0" {%- endif -%}>

      {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
      <span class="mdc-list-item__text">
        <span class="mdc-list-item__primary-text">{{ post.title | escape }}</span>
        <span class="mdc-list-item__secondary-text">
          <time>
            {{ post.date | date: date_format }}
          </time>
          {%- if post.author -%}
          • <span>{{ post.author | escape }}</span>
          {%- endif -%}
        </span>
      </span>
    </a>
    {%- endfor -%}

  </nav>
  {%- endif -%}

</div>
